{% extends '_base.html' %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/login.css') }}" />
{% endblock %}

{% block scripts %}

<script src="{{ url_for( 'static', filename='js/semantic/dist/components/form.js') }}"></script>
{% if request.path == '/login' %}
    <script src="{{ url_for( 'static', filename='js/login.js') }}"></script>
{% endif %}
{% if request.path == '/signup/' %} 
    <script src="{{ url_for( 'static', filename='js/signup.js') }}"></script>
{% endif %}

{% endblock %}

{% block body %}
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <h2 class="ui teal image header">
          <img
            src="{{ url_for( 'static', filename='css/semantic/logo.png') }}"
            class="image"
          />
          {% if request.path == '/login' %}
          <div class="content">Log-in to your account</div>
          {% endif %} {% if request.path == '/signup/' %}
          <div class="content">Sign Up to your account</div>
          {% endif %}
        </h2>
        {% block content %} {% endblock %}
        <div class="ui message">
          {% if request.path == '/login' %} New to us?
          <a href="{{ url_for( 'auth.show_signup_form') }}">Sign Up</a> {% endif
          %} {% if request.path == '/signup/' %} do you already have an account?
          <a href="{{ url_for( 'auth.login') }}">Login</a>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock %}
