{% extends 'auth/_base.html' %}
{% from 'auth/_macros.html' import render_field %} 
{% block title %} {{super()}} {{ title }} {% endblock %}

{% block scripts %}
{{super()}}
  {% if error %}
    <script src="{{ url_for( 'static', filename='js/custommsg.js') }}"></script>
  {% endif %}
{% endblock %}

{% block content %}

<form class="ui large form" method="post" novalidate>
  {{ form.hidden_tag() }}
  <div class="ui stacked segment">
    {{ render_field(form.email, "mail") }}
    {{ render_field(form.password, "lock") }}
    {{ form.submit(class="ui fluid large teal submit button") }}
  </div>
  {% set error_login = [ form.email.errors, form.password.errors ]%}
  <div class="ui error message" id="custommsg"></div>
</form>

{% endblock %}
