{% extends 'auth/_base.html' %}

{% from 'auth/_macros.html' import render_field %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

<form class="ui large form" method="post" novalidate>
  {{ form.hidden_tag() }}
  <div class="ui stacked segment">
    {{ render_field(form.email, "mail") }}
    {{ render_field(form.password, "lock") }}
    {{ form.submit(class="ui fluid large teal submit button") }}
  </div>
  <div class="ui error message">
    {% if error %}
        <li>{{ error }}</li>
    {% endif %}
  </div>
</form>

{% endblock %}
